.addressElipsis {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  // font-size: 1.1rem;
  font-weight: 400;
  margin-top: 8px;
  margin: 0;
}

.descriptionElipsis {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 400;
  margin-top: 8px;
  margin: 0;
  line-height: 1rem;
  height: 2rem;
  margin-bottom: 16px;
}

.houseItem {
  background-color: white;
  padding: 16px 32px;
  border-radius: 6px;
  margin-bottom: 8px;
  display: flex;
}

.houseItem:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}