.header_drop_down {
    background-color: white;
    border-radius: 10px;
    border: 1px solid $primary_color;
    .header-dropdown-link {
        text-decoration: none;
        color: black;
        &:hover {
            color: $primary_color;
        }
    }
}
