@import '../variables.scss';
body {
    background: #2a2e32;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  .fontAdd{
    color: #212529;
    
  }
  .fontPhone{
    font-size: 18px;
    padding-right: 5px;
    
  }
  
.footer-social {
  display: flex;
  .social {
    margin-right: 20px;
  }
  .social i{
    font-size: 30px;
    margin-top: 20px;
    color: #212529;
  }

  .social i:hover{
    color: $primary_color;
  }
  
}
