@import '../variables.scss';
.app-header {
    .app-header-logo {
        padding: 10px;
    }
   .app-header-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 60px;
    li {
        height: 100%;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color: inherit;
            font-size: large;
        }
        a:hover {
            color: $primary_color;
        }
    }
   }
}


.ant-divider {
    margin: 5px 0 0 5px !important;
    height: 1px;
}

.search-home-page {
    text-align: center;
    margin-top: 10px;
    .ant-input {
        border: 1px solid $primary_color;
        font-weight: bold;
    }
}