@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './component_styles/footer.scss';
@import './component_styles/header.scss';
@import './component_styles//banner.scss';
@import './component_styles/dropdown.scss';
@import './404.scss';
@import './bootstrap_overide/custom_bootstrap.scss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import './component_styles/socialbar-relative.scss';
@import './component_styles/intro-component.scss';
@import './antd-overide/antd-overide.scss';
@import './profile.scss';
@import './component_styles/HelpP.scss';
@import './component_styles/loginform.scss';

html,
body {
    max-width: 1920px;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
    -moz-user-select: none;
    -moz-user-select: none;

    cursor: url('/static/cursor/pointer.png'), auto;


    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px black; 
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary_color;
        border-radius: 10px;
    }

}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
    height: 100%;
}

a {
    cursor: url('/static/cursor/link.png'), auto !important;
    text-decoration: none;
    color: inherit;
    transition: all ease 0.1s;
    &:hover {
        color: $primary_color;
        transform: scale(1.1,1.1);
    }
}

.btn-cancel {
    background-color: $alert-color;

    &:hover {
        background-color: $alert-color !important;
        border: none !important;
    }
}