@import './variables.scss';
.profile-content {
    max-width: 1200px;
    margin: 20px auto;
    .profile {
        .left-profile {
            height: 590px;
            margin-top: 10px;
            // box-shadow: 4px 4px 10px gray;
            box-sizing: border-box;
            padding: 20px 10px;
            // border-top: 1px solid #D6DBDF;
            // border-left: 1px solid #D6DBDF;
            // border-radius: 20px 0px 0px 20px;
            .avatar-component {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .avatar {
                    width: 200px;
                    height: 200px;
                    border: 3px solid $primary_color;
                    border-radius: 100%;
                    div {
                        img {
                            object-fit: cover;
                            border-radius: 100%;
                        }
                        .ant-image-mask {
                            border-radius: 100%;
                        }
                    }
                }
                .avatar-upload {
                    margin-top: 10px;
                }
            }
            .status {
                text-align: center;
                font-weight: bold;
                
                .active {
                    color: #00FF08;
                }
                .banned {
                    color: #FFB200;
                }
            }
            .user-intro {
                text-align: center;
                font-size: 14px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 10px;
                margin-top: 10px;
                .data {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: normal;
                    
                }
            }
            .user-gender {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 10px;
                .data {
                    margin-left: 5px;
                    color: $primary_color;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                }
            }
            .user-dateBirth {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-style: italic;
                font-weight: bold;
                margin-bottom: 10px;
                .data {
                    margin-left: 5px;
                    color: $primary_color;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                }
            }
            .user-balance {
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: italic;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                .data {
                    margin-left: 5px;
                    font-size: 20px;
                    color: red;
                    font-style: normal;
                }
            }
            .user-rating {
                text-align: center;
                font-style: italic;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                .data {
                    margin-left: 5px;
                    color: $primary_color;
                }
            }
            .user-join-date {
                display: flex;
                justify-content: center;
                font-style: italic;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                align-items: center;
                .data {
                    margin-left: 5px;
                    font-style: normal;
                    font-weight: normal;
                    color: $primary_color;
                    font-size: 16px;
                }
            }
        }
        // aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        .right-profile {
            padding-top: 25px;
            .title {
                font-size: 30px;
                font-weight: bold;
            }
            .user-id {
                display: flex;
                align-items: center;
                width: 300px;
                .ant-space-compact {
                    input {
                        margin-left: 10px;
                        height: 30px;
                        font-style: italic;
                        user-select: none !important;
                        border: 1px solid #D6DBDF;
                        user-select: none;
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        -o-user-select: none;
                        pointer-events: none;
                    }
                    button {
                        height: 30px;
                    }
                }
                
            }
            .user-info-profile {
                .name, .gender, .birth-date, .email, .phone, .balance {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    border: 1px solid #F4F7F7;
                    box-shadow: 2px 2px 5px #AEB6BF;
                    border-radius: 10px;
                    padding: 5px 0px 5px 20px;
                    &:hover {
                        background-color: #D1F2EB;
                    }
                    .name-label, .gender-label, .birth-date-label, .email-label, .phone-label, .balance-label {
                        width: 30%;
                        font-size: 18px;
                    }
                    .name-value, .gender-value, .birth-date-value, .email-value, .phone-value, .balance-value {
                        font-size: 18px;
                        color: $primary_color;
                    }
                    .balance-value {
                        color: red;
                    }
                }
            }
            .change-info-form {
                .form-title {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }
                .btn-confirm {
                    display: flex;
                    justify-content: center;
                    button {
                        
                    }
                }
                
            }
        }
    }
}


.upgrade-services{
    .service-title {
        font-size: 16px;
        display: block;
        text-align: center;
        font-weight: bold;
    }
}

.wallet-form {
    .wallet-form-component {
        .title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: block;
        }
        .content {
            .way {
                label {
                    font-size: 14px;
                    font-weight: bold;
                }
                p {
                    font-style: italic;
                    padding-left: 10px;
                }
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .ant-form-item {
            .ant-row {
                .ant-col {
                    font-size: 15px;
                    font-weight: bold;
                }
                .ant-form-item-control-input {
                    padding: 0 10px;
                    .ant-form-item-control-input-content {
                        .ant-radio-group {
                            label {
                                font-weight: normal !important;
                            }
                        }
                    }
                }
            }
        }
        .btn-submit-wallet {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.view-payment {
    .table {
        .table-item {
            &:hover {
                background-color: $hover-item-table-color;
            }
            td {
                &:nth-child(4) {
                    font-weight: bold;
                }
                &:nth-child(6) {
                    button {
                        height: 25px;
                        background-color: transparent !important;
                        border: none !important;
                        color: black;
                        &:hover {
                            color: black !important;
                        }
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.spin-loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-forgot-password {
    padding: 10px;
}
.forgot-password {
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    p {
        text-align: center;
        font-size: 15px;

    }
    .btn-forgot-pass {
        text-align: center;
    }
}
.ant-modal-content {
    padding: 10px !important;
}