@import '../variables.scss';
.app-header {
    .app-header-logo {
        padding: 10px;
    }
   .app-header-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 60px;
    li {
        height: 100%;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color: inherit;
            font-size: large;
        }
        a:hover {
            color: $primary_color;
        }
    }
   }
}


.ant-divider {
    margin: 5px 0 0 5px !important;
    height: 1px;
}

.search-home-page {
    text-align: center;
    margin-top: 10px;
    .ant-input {
        border: 1px solid $primary_color;
        font-weight: bold;
    }
}

.modal-log-reg-title {
    text-decoration: none;
    cursor: url('/static/cursor/link.png'), pointer;
    transition: all ease 0.1s;
    &:hover {
        color: $primary_color;
        transform: scale(1.2,1.2);
    }
}
.log-reg-page-title {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
}
.log-reg-page-btn {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.log-reg-page-forgot {
    display: flex;
    justify-content: right;
    a {
        text-decoration: none;
        color: $alert-color;
        font-style: italic;
        transition: all ease 0.1s;
        &:hover {
            transform: scale(1.1,1.1);
            color: red;
        }
    }
}
.log-reg-form-group {
    display: flex;
    justify-content: center;
}
.ant-dropdown {
    z-index: 1000 !important;
}

.logout-pop-title {
    cursor: url('/static/cursor/link.png'), pointer;
    transition: all ease 0.1s;
    &:hover {
        color: $primary_color;
        transform: scale(1.2,1.2);
    }
}

.app-header-link {
    cursor: url('/static/cursor/link.png'), pointer;
    font-size: 19px !important;
    &:hover {
        color: $primary_color;
    }
}

.user-name-show {
    &:hover {
        transform: unset;
    }
}