@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './component_styles/footer.scss';
@import './component_styles/header.scss';
@import './component_styles//banner.scss';
@import './bootstrap_overide/custom_bootstrap.scss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}